.navbar{
    padding: 10px;
    text-align: center;
    
    
}
nav ul {
    text-align:center;
    list-style: none;
    margin-bottom:15px;
    
}
nav ul {
    text-align:center;
    list-style: none;
    margin-bottom:15px;
}

nav li {
   display: inline-block;
   
}
nav a {
    padding:9px;
    display: block;
    width: 250px;
    text-decoration: none;
    color:#40272c;  
    border-radius: 10px;

   
   
    
}
nav a:hover {
    background-color: #609D39;
}

.search-bar {
    float:right;
    width: auto;
    margin-top: 20px;
    padding: 40px;
    border-radius: 8px;
   
    
   }


footer{
    color:#40272c;
    padding:9px;
    background-color:#609D39;
    clear:both;
    text-align: center;
    position: relative;
    

}
h1{
    color:#40272c; 
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h2{
    color: #40272c;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.info{
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}
